
@import "../../style.scss";

.rightBar {
  @include themify($themes) {
    flex: 3;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bgSoft");

    @include mobile {
      display: none;
    }

    @include tablet {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      padding: 20px;

      .item {
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        padding: 20px;
        margin-bottom: 20px;
        background-color: themed("bg");

        span {
          color: gray;
        }

        .user {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 20px 0px;

          .userInfo {
            display: flex;
            align-items: center;
            gap: 20px;
            position: relative;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }

            .online {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: limegreen;
              position: absolute;
              top: 0;
              left: 30px;
            }

            p {
              color: themed("textColorSoft");
            }

            span {
              font-weight: 500;
              color: themed("textColor");
            }
          }

          .buttons {
            display: flex;
            align-items: center;
            gap: 10px;

            button {
              border: none;
              padding: 5px;
              color: white;
              cursor: pointer;

              &:first-child {
                background-color: #5271ff;
              }

              &:last-child {
                background-color: #f0544f;
              }
            }
          }
        }
      }
    }
  }
}






// @import '../../style.scss';


// .rightBar {
//   @include themify($themes) {
//   flex: 3.5;
//   position: sticky;
//   top: 70px;
//   height: calc(100vh - 70px);
//   overflow-y: scroll;
//   background-color: themed('bgSoft');

//   @include mobile {
//       display: none;
//     }

//             @include tablet {
//               display: none;
//             }
  
//   &::-webkit-scrollbar{
//     display: none;
//   }

//   .container{
//     padding: 20px;

//     .item{
//       // box-shadow: -4px -1px 3px 11px rgba(227, 225, 225, 0.27);
//         // -webkit-box-shadow: -4px -1px 3px 11px rgba(227, 225, 225, 0.27);
//         // -moz-box-shadow: -4px -1px 3px 11px rgba(227, 225, 225, 0.27);
//         border-radius: 5px;
//         padding: 10px;
//         margin-bottom: 20px;
//         background-color: themed('bg');

//       span {
// color: themed('textColorSoft');
//       }

//       .user {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         margin: 20px 0px;
//         position: relative;

//         .userInfo {
//               display: flex;
//                 align-items: center;
//                 gap: 15px;

//           img{
//             width: 40px;
//             height: 40px;
//             border-radius: 50%;
//             object-fit: cover;
//           }

//           .online {
//             width: 52px;
//             height: 26px;
//             border-radius: 50%;
//             border-color: rgb(247, 5, 5);
//             position: absolute;
//             top: 0px;
//             left: 30px;

//           }

//           p {
//             color: themed('textColor');
//             gap: 10px;
//           }

//           span{
//             font-weight: 500;
//           }

//         }

//         .buttons {
//               display: flex;
//                 align-items: center;
//                 gap: 15px;

//                 button {
//                   border: none;
//                   padding: 6px;
//                   color: white;
//                   cursor: pointer;
//                   border-radius: 5px;

//                   &:first-child {
//                     background-color: rgb(14, 160, 218);
//                   }

//                   &:last-child {
//                     background-color: rgb(228, 73, 26);
//                   }
//                 }

//         }
//       }

      
//     }
//   }

// }
// }