@import '../../style.scss';

.post {
@include themify($themes) {
  background-color: themed('bg');
  border-radius: 10px;
  color: themed('textColor');
  .container {
    padding: 20px;

    .user {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .userInfo {
        display: flex;
        gap: 20px;


        img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        .details {
          display: flex;
          flex-direction: column;
          gap: 4px;

          .name{
            font-weight: 500;
          }

          .date {
            font-size: 12px;
          }
        }
      }
    }

    .content {}

    .info {}
  }
}}